.buttons {
    position: absolute;
    bottom: 45px;
    display: flex;
    width: 77%;
    height: 32px;
    justify-content: space-between;
}

.buttons__sound_status {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.music_button {
    width: 130px;
}