.img_wrapper {
    animation: changeBg 1s steps(1, end) infinite;
    width: 245px;
    height: 290px;
    background-size: cover;
    background-repeat: no-repeat;
}

@keyframes changeBg {
    0%, 100% {
        background-image: url(./img/Logotype-1.svg);
    }

    50% {
        background-image: url(./img/Logotype-2.svg);
    }
}