:root {
  --color-yellow: #d1fb84;
  --color-dark-green: #4ea028;
  --color-dark-red: #a02828;
  --color-dark-gray: #10100e;

  --font-family-main: "Press Start 2P", sans-serif;
  --font-size-main: 13px;
  --line-height-main: 25px;
  --text-shadow-main: 0 0 20px #d1fb84, 0 0 30px #d1fb84;

  --font-size-small: 10px;

  --text-shadow-correct: 0 0 20px #4ea028, 0 0 30px #4ea028;
  --text-shadow-error: 0 0 20px #a02828, 0 0 30px #a02828;

  --background-default: url(../static/bg.png);

  --pc-image: url(../static/pc-pixel.png);
}

* {
  box-sizing: border-box;
  outline-color: #d1fb84;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-dark-gray);
  background-image: var(--background-default);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: fixed;
  font-family: var(--font-family-main);
  font-size: var(--font-size-main);
  color: var(--color-yellow);
  line-height: var(--line-height-main);
  text-shadow: var(--text-shadow-main);
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}